:root {
    --primary-color: #021041;
    --text-color: #666;
    --bg-color: #F7F9F9;
    --accent-color: #022CC1;
    --white-color: #fff;
    --black-color: #2a2a2a;
    --yellow-color: #F39C12;
    --h1-font-size: 48px;
    --h2-font-size: 36px;
    --h3-font-size: 32px;
    --h4-font-size: 28px;
    --h5-font-size: 24px;
    --h6-font-size: 20px;
    --text-font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
}

a {
    color: var(--primary-color)
}

.container {
    max-width: 1280px;
    padding-inline: 0.5rem;
    margin-inline: auto;
    margin-bottom: 128px;
}

.header {
    margin-top: 32px;

}

.header-wrapper {
    max-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    border: #eee solid 1px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(50px);
    transform: translate3d(0, 0, 0);
    position: sticky;
    border-radius: 24px;
    box-shadow: 0 27px 24px -24px rgba(0, 0, 0, .05);
}

.logo {
    font-weight: 900;
    font-size: var(--h5-font-size);
    color: var(--primary-color);
}

.mobile-menu {
    display: none;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list .nav-item {
    padding-left: 2rem;
}

.nav-list .nav-item .nav-link,
.btn-link {
    font-weight: 500;
}

.btn {
    all: unset;
    background-color: var(--accent-color);
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
}

.btn a,
.btn {
    color: var(--white-color);
}

.btn i {
    margin-right: 4px;
}

.mobile-menu i {
    font-size: var(--h5-font-size);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

hr {
    border: 1px solid #eee;
}

h1,
h2,
h5,
h6 {
    font-size: var(--h1-font-size);
    font-weight: 800;
    line-height: 1.4em;
    color: var(--primary-color);
    margin-bottom: 24px;
}

h2 {
    font-size: var(--h2-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-size: var(--h6-font-size);
}

.text,
.card-desc {
    color: var(--text-color);
    line-height: 1.5em;
    font-size: 1rem;
    margin-bottom: 24px;
}

.hero__title {
    text-align: center;
}

.hero__text,
.features .section__text {
    text-align: center;
    max-width: 80%;
}

.search-box {
    border: #ddd 1px solid;
    border-radius: 8px;
    margin-bottom: 24px;
    background-color: var(--white-color);
}

.search-box input {
    all: unset;
    padding: 16px;
}

.search-box .btn {
    margin-right: 8px;
}

.results {
    width: 100%;
    background-color: var(--white-color);
    padding: 2rem 1rem;
    margin-bottom: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 32px -10px rgba(2, 44, 193, .05);
    display: none;
}

.results h4 {
    margin-bottom: 24px;
    color: var(--primary-color)
}

.results-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 32px;
}

.result-item {
    /* padding: 1rem .5rem; */
    cursor: pointer;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.result-item:hover {
    color: var(--primary-color)
}

.results-items,
.item-details {
    flex: 1 1;
}

.json-data {
    white-space: pre-wrap;
    border: 1px solid #eee;
    border-radius: 16px;
    margin-top: 8px;
    padding: 16px;
}

.hero img {
    max-width: 100%;
}

.section-name-wrapper {
    padding: 4px 16px;
    border: 2px solid var(--accent-color);
    display: inline-block;
    border-radius: 64px;
    margin-bottom: 24px;
}

.section-name-wrapper .section-name {
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.section-text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 32px;
}

.section__text {
    flex: 1 1 50%;
}

.media-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-content>.text-wrapper,
.media-content>.section-image {
    flex: 1 1 50%;
}

.media-content .section-image {
    width: 50%;
    margin-left: 32px;
}

.media-content .section-image img {
    max-width: 100%;
}



.catalogue .section__text {
    margin-bottom: 24px;
}

table {
    background-color: var(--white-color);
    width: 100%;
    border-spacing: 0;
    color: var(--primary-color);
    margin-bottom: 64px;
}

table thead th {
    background-color: rgba(2, 44, 193, .05);
    width: 50%;
}


table thead th,
table tbody tr td {
    border: 1px solid #eee;
    text-align: left;
    padding: 16px;
}

table thead th:nth-child(1),
table tbody tr td:nth-child(1) {
    border-right: 0;
}

table tbody tr td {
    border-top: 0;
    color: var(--text-color)
}

.catalogue-lists {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 32px;
}

.catalogue-list__title {
    display: block;
    margin-bottom: 8px;
}

.catalogue-lists ul li {
    margin-bottom: 8px;
}

.catalogue-lists ul li:hover a {
    color: var(--text-color)
}

.features .section__title,
.feature-card .card-desc {
    text-align: center;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-text-wrapper.features-text {
    justify-content: center;
}

.feature-cards {
    display: flex;
    column-gap: 32px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.feature-card {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0 16px 24px -5px rgba(2, 44, 193, .1);
    padding: 24px;
    border-radius: 16px;
    flex: 1 1;
}

.feature-card i {
    font-size: 2rem;
    color: var(--yellow-color);
}

.feature-card .card-title,
.feature-card .card-desc {
    margin-bottom: 0;
    text-align: center;
}

.cta-section .content-wrapper {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6% 32px;
    border-radius: 16px;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.cta-section .content-wrapper::after,
.cta-section .content-wrapper::before {
    content: '';
    position: absolute;
    right: -5%;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    height: 180%;
    border: 48px solid #361A5B;
    filter: blur(30px);
    border-radius: 48%;
    z-index: -1;
}

.cta-section .content-wrapper::before {
    right: -8%;
    border-color: rgba(255, 255, 255, 0.2);
}

.cta-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.cta-buttons .btn {
    background-color: var(--white-color);
    color: var(--black-color);
}

.cta-desc,
.cta-title,
.cta-buttons a {
    color: var(--white-color)
}

.footer {
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.footer-wrapper .logo-wrapper {
    text-align: center;
}

.nav-link.footer-nav {
    text-transform: uppercase;
    font-size: 18px;
}

.social-icons {
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.social-icon {
    background-color: var(--primary-color);
    border-radius: 64px;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
}


.social-icon i {
    font-size: 20px;
    color: var(--white-color)
}

.bottom-footer,
.footer,
.divider {
    margin-bottom: 32px;
}

.bottom-footer {
    display: grid;
    place-content: center;
}

.copyright-text {
    font-size: 14px;
    color: var(--text-color);
}


@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {

    h1 {
        font-size: var(--h2-font-size);
    }

    .container {
        max-width: 640px;
    }

    .mobile-menu {
        display: block;
        cursor: pointer;
    }

    .nav-wrapper {
        position: absolute;
        top: -32px;
        right: -800px;
        background-color: var(--white-color);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 300px;
        height: 100vh;
        padding: 2rem;
        transition: right ease .2s;
    }

    .nav-wrapper.active {
        right: -32px;

    }

    .nav-wrapper .mobile-menu__close {
        display: block;
    }

    .nav-list.header-nav {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-list.header-nav .nav-item {
        padding-block: 1rem;

    }

    .media-content {
        flex-wrap: wrap;
    }

    .media-content .section-image {
        width: 100%;
    }

    .media-content>.text-wrapper {
        flex: 2 1 80%;
    }

}

@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }

}

@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}